@media(max-width: 426px) {
    html {
        font-size: 14px;
    }
    .header__contact, .nav, .header__logo {
        display: none;
    }
    .container {
        max-width: 414px;
        margin: auto;
    }
    .main {
        height: 620px;
        text-align: center;
    }
    .header {
        height: 6rem;
    }
    .header-mobile {
        display: flex;
        width: 100%;
        margin: 0 1rem;
        align-items: center;
    }
    .mobile__logo {
        margin: auto;
        padding-right: 10%;
    }
    .mobile__logo img {
        width: 6rem;
        margin-right: 50%;
    }
    .cover {
        background-color: #bc2a40;
        background-image: url("../img/devices-mobile.png");
        background-repeat: no-repeat;
        background-position: center bottom;
    }
    .cover__inner {
        width: 100%;
    }
    .cover__title {
        font-size: 2.3rem;
        line-height: 2.3rem;
        font-weight: 700;
        padding: 0 1rem;
    }
    .cover__text {
        font-size: 1rem;
        margin: 1rem;
    }
    .cover__text br {
        display: none;
    }
    .cover__text-desktop {
        display: none;
    }
    .cover__btn {
        width: 60%;
        height: 47px;
        margin: 0;
        position: relative;
    }
    .cover__text-mobile {
        display: inline-flex;
        margin-top: 23rem;
        font-size: .9rem;
    }
    .line__red, .line__blue, .line__white {
        height: 10px;
        width: 100%;
    }
    .about__circle {
        display: none;
    }
    .item-1, .item-4, .item-1>img, .item-4>img {
        margin: auto;
    }
    .about__list {
        margin: 3rem 0;
    }
    .about__item img {
        width: 20%;
        height: auto;
        margin: 0;
    }
    .about__item {
        width: 100%;
        height: auto;
        padding: 1rem 0;
    }
    .about__text {
        padding: 0 0 0 10px;
        width: 75%;
    }
    .about__text h3 {
        margin: 0 0 .8rem 0;
        font-size: 1.67rem;
        line-height: 1.5rem;
    }
    .business {
        font-size: 5rem;
        line-height: 5rem;
        margin-right: 3rem;
    }
    .why__franch {
        margin: -1rem 0;
        background-position: center top;
    }
    .why__franch h2 {
        width: 90%;
        margin: 0;
        text-align: center;
    }
    .why__list {
        margin: 2rem auto;
    }
    .why__item {
        width: 100%;
        padding: 0 1rem;
        font-size: 1.3rem;
    }
    .why__item img {
        padding: .5rem 1rem .5rem 0;
        width: 13%;
    }
    .why__btn {
        margin: 1rem auto 3rem auto;
        bottom: 0;
    }
    .what__lines {
        display: none;
    }
    .what__list{
        padding: 1rem 0;
        flex-direction: column;
        align-items: stretch;
    }
    .what__item {
        display: flex;
    }
}